﻿@model Task24.Models.Supervisor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Add Supervisor Confirmation</title>
</head>
<body>
    <div class="text-center">
        <h2>Confirmation message</h2>
        <h4> @Model.Name has been added to the current supervisors as @Model.IsAvailable.ToString()</h4>

        <a class="btn btn-primary" asp-action="AllSupervisors">View all supervisors</a>

    </div>
</body>
</html>
