﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <div class="text-center">
        <h1>Task 25</h1>
        <div>

            @ViewBag.Message
            <br /><br />
            <a class="btn btn-primary" asp-action="SupervisorInfo">Click here to add a supervisor</a>
        </div>
    </div>
</body>
</html>
